# Dev/Deployment
numpy
pandas
scipy<1.9.0
matplotlib
bokeh<3.0.0
scikit-image
sphinx
nose
coverage
igor
lmfit
h5py>=2.9.0
#tifffile
dask[complete]
fastparquet
tqdm
natsort
funcy
imageio
numba
opencv-python
xarray
astropy
photutils
symmetrize
silx
deepdish
fastdtw
threadpoolctl
